# Default values for operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  imagePullSecrets: []
  network: mainnet

## Provide a name in place of operator for `app:` labels
##
nameOverride: ""

## Provide a name to substitute for the full names of resources
##
fullnameOverride: ""

## Pod Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
##
securityContext:
  fsGroup: 1001
  runAsUser: 1001

## RBAC configuration.
## ref: https://kubernetes.io/docs/reference/access-authn-authz/rbac/
##
rbac:
  create: true

## Init image is used to chown data volume, initialise genesis, etc.
##
initImageBusybox:
  registry: "docker.io"
  repository: "busybox"
  tag: "stable"
  pullPolicy: Always

## CLI image is used to fetch public keys.
##
cliImage:
  registry: "ghcr.io"
  repository: "galaxydigitalpublic/sync-keys"
  tag: "0.4.0"
  pullPolicy: Always

## Database connection string, ex. 'postgresql://username:pass@hostname/dbname'
##
dbKeystoreUrl: ""

## Database table name for validator keys (sync-keys 0.4.0+)
## Allows using different tables for different validator sets
##
dbKeystoreTableName: ""

## Configuration for validators
## ref: https://lighthouse-book.sigmaprime.io/validator-management.html
## ref: https://docs.prylabs.network/docs/getting-started
##

## Whether to enable validator statefulset or not
## Can be used to temporarily disable validators
## until synchronization of eth1/eth2 nodes is complete
##
enabled: true

## What type of validator to use.
## Options for Ethereum: prysm, lighthouse, teku
## Options for Gnosis: lighthouse
##
type: lighthouse

## How many validators to run
## **NB! Each validtor hosts a certain number of keys specified when using CLI sync-db command,
## so the number of validators must be >= (total number of validator keys) / validator capacity specified in CLI
##
validatorsCount: 0

## Default fee recipient for all validator keys.
##
suggestedFeeRecipient: ""


## Validators image version
## ref: https://gcr.io/prysmaticlabs/prysm/validator
## ref: https://hub.docker.com/r/sigp/lighthouse
image:
  pullPolicy: Always
  prysm:
    registry: "gcr.io"
    repository: "prysmaticlabs/prysm-validator"
    tag: "stable"
  lighthouse:
    registry: "docker.io"
    repository: "sigp/lighthouse"
    tag: "latest"
  teku:
    registry: "docker.io"
    repository: "consensys/teku"
    tag: "latest"

## Credentials to fetch images from private registry
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
##
imagePullSecrets: []

terminationGracePeriodSeconds: 300

## Spearate service account per validator.
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
##
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}

## Node labels for pod assignment
## ref: https://kubernetes.io/docs/user-guide/node-selection/
##
nodeSelector: {}

## Tolerations for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: {}

## Affinity for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
##
affinity: {}

## used to assign priority to pods
## ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
##
priorityClassName: ""

## Extra annotations for StatefulSet pods
podAnnotations: {}

## Network ID
## Options for Ethereum: mainnet, holesky
## Options for Gnosis: gnosis
##
network: "mainnet"

## Validators flags
##
flags:
  prysm:
    - "--datadir=/data/prysm"
    - "--accept-terms-of-use"
    - "--disable-rewards-penalties-logging"
    - "--disable-account-metrics"
  lighthouse:
    - "lighthouse"
    - "vc"
    - "--datadir=/data/lighthouse"
    - "--init-slashing-protection"
    - "--logfile-compress"
    - "--logfile-max-size=64"
    - "--logfile-max-number=2"
  teku:
    - "validator-client"
    - "--log-destination=CONSOLE"
    - "--data-base-path=/data"

builder:
  # Whether to use a builder for proposals
  enabled: true

  # Extra flags to pass for VC builder
  flags:
    prysm:
      - "--enable-builder"
    lighthouse:
      - "--builder-proposals"
    teku:
      - "--validators-builder-registration-default-enabled"
      - "--validators-proposer-blinded-blocks-enabled"
keyManagerApi:
  # Whether to enable the keymanager Api
  enabled: false
  # Secret that contains the API token.
  tokenSecret:
    name: "apitoken"
  # Key containing the API auth token
    publicKey: "token"
  # Key containing the corresponding secret key - Lighthouse
    privateKey: "secret"
  flags:
    prysm:
      - "--web"
      - "--grpc-gateway-host=0.0.0.0"
      - "--grpc-gateway-port=7500"
      - "--grpc-gateway-corsdomain=*"
    lighthouse:
      - "--http"
      - "--http-port=7500"
      - "--http-address=0.0.0.0"
      - "--http-allow-origin=*"
      - "--unencrypted-http-transport"
    teku:
      - "--validator-api-enabled=true"
      - "--validator-api-interface=0.0.0.0"
      - "--validator-api-port=7500"
      - "--validator-api-host-allowlist=*"
      - "--validator-api-cors-origins=*"
# TLS. Mandatory for Teku but I don't have the init code yet to create it. For now, keymanager on Teku will fail
#      - "--validator-api-keystore-file=/var/lib/teku/teku-keyapi.keystore"
#      - "--validator-api-keystore-password-file=/var/lib/teku/teku-keyapi.password"


## Validators extra flags
##
extraFlags:
  prysm: []
  lighthouse: []
  teku: []

## Web3Signer Endpoint
##
web3signerEndpoint: http://web3signer:6174

## Web3Signer TLS Configuration
## For mTLS communication with remote web3signer over HTTPS
##
web3signerTls:
  ## Enable TLS for web3signer connection
  ## When enabled, certificates are mounted and sync-keys generates TLS config
  enabled: false

  ## Paths where certs are mounted in VC container (after P12 conversion)
  rootCertificatePath: "/tls/ca.crt"
  clientIdentityPath: "/tls/client.p12"
  clientIdentityPasswordPath: "/tls/client.password"

  ## Secret containing PEM format certs (ca.crt, tls.crt, tls.key)
  ## This secret is typically created via External Secrets from AWS Secrets Manager
  pemSecret:
    name: "web3signer-mtls-client-pem"

  ## Secret containing P12 password (created manually or via terraform)
  p12PasswordSecret:
    name: "web3signer-mtls-p12-password"
    key: "password"

  ## Image for P12 conversion init container
  opensslImage:
    registry: "docker.io"
    repository: "alpine/openssl"
    tag: "latest"
    pullPolicy: Always

  ## Image for injecting TLS config into validator_definitions.yml
  yqImage:
    registry: "docker.io"
    repository: "mikefarah/yq"
    tag: "latest"
    pullPolicy: Always

## List of Beacon Chain node addresses
##
beaconChainRpcEndpoints: []

## You can use the graffiti to add a string to your proposed blocks,
## which will be seen on the block explorer.
## ref: https://docs.prylabs.network/docs/prysm-usage/parameters#validator-configuration
##
graffiti: ""

## Monitoring
##
metrics:
  # Whether to enable metrics collection or not
  enabled: true

  # Prometheus exporter port
  port: 9090

  # Extra flags to pass for collecting metrics
  flags:
    prysm:
      - "--monitoring-port=9090"
      - "--monitoring-host=0.0.0.0"
    lighthouse:
      - "--metrics"
      - "--metrics-port=9090"
      - "--metrics-address=0.0.0.0"
    teku:
      - "--metrics-enabled=true"
      - "--metrics-host-allowlist=*"
      - "--metrics-interface=0.0.0.0"
      - "--metrics-port=9090"

  ## Prometheus Service Monitor
  ## ref: https://github.com/coreos/prometheus-operator
  ##      https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint
  ##
  serviceMonitor:
    ## @param metrics.serviceMonitor.enabled Create ServiceMonitor resource(s) for scraping metrics using PrometheusOperator
    ##
    enabled: false
    ## @param metrics.serviceMonitor.namespace The namespace in which the ServiceMonitor will be created
    ##
    namespace: ""
    ## @param metrics.serviceMonitor.interval The interval at which metrics should be scraped
    ##
    interval: 30s
    ## @param metrics.serviceMonitor.scrapeTimeout The timeout after which the scrape is ended
    ##
    scrapeTimeout: ""
    ## @param metrics.serviceMonitor.relabellings Metrics RelabelConfigs to apply to samples before scraping.
    ##
    relabelings: []
    ## @param metrics.serviceMonitor.metricRelabelings Metrics RelabelConfigs to apply to samples before ingestion.
    ##
    metricRelabelings: []
    ## @param metrics.serviceMonitor.honorLabels Specify honorLabels parameter to add the scrape endpoint
    ##
    honorLabels: false
    ## @param metrics.serviceMonitor.additionalLabels Additional labels that can be used so ServiceMonitor resource(s) can be discovered by Prometheus
    ##
    additionalLabels: {}
  ## Custom PrometheusRule to be defined
  ## ref: https://github.com/coreos/prometheus-operator#customresourcedefinitions
  ##
  prometheusRule:
    ## @param metrics.prometheusRule.enabled Create a custom prometheusRule Resource for scraping metrics using PrometheusOperator
    ##
    enabled: false
    ## @param metrics.prometheusRule.default Create a default set of Alerts
    ##
    default: true
    ## @param metrics.prometheusRule.namespace The namespace in which the prometheusRule will be created
    ##
    namespace: ""
    ## @param metrics.prometheusRule.additionalLabels Additional labels for the prometheusRule
    ##
    additionalLabels: {}
    ## @param metrics.prometheusRule.rules Custom Prometheus rules
    ## e.g:
    ## rules:
    ##   - alert: PrysmValidatorHourlyEarningLessOrEqual0
    ##     expr: sum(validator_balance) - sum(validator_balance offset 1h) - count(validator_balance > 16)*32 + count(validator_balance offset 1h > 0)*32
    ##     for: 5m
    ##     labels:
    ##       severity: critical
    ##     annotations:
    ##       summary: Prysm validator hourly earning <= 0
    ##       description: Check validators immediately. Pod - {{ printf "{{ $labels.pod }}" }}. Namespace - {{ printf "{{ $labels.namespace }}" }}
    ##   - alert: PrysmValidatorAlotOfErrorsLastHour
    ##     expr: sum(delta(log_entries_total{job='{{ include "operator.fullname" . }}-validator', level="error"}[1h]) > 0)
    ##     for: 5m
    ##     labels:
    ##       severity: warning
    ##     annotations:
    ##       summary: Many validator errors or warnings last hour
    ##       description: Check validator {{ printf "{{ $labels.pod }}" }}. Namespace - {{ printf "{{ $labels.namespace }}" }}
    ##
    rules: {}

## Configure resource requests and limits.
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
##
resources: {}

## Configure liveness and readiness probes
## https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
##
readinessProbe:
  prysm:
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 60
    failureThreshold: 3
    successThreshold: 1
    httpGet:
      path: /healthz
      port: metrics
      scheme: HTTP
  lighthouse:
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 60
    failureThreshold: 3
    successThreshold: 1
    httpGet:
      path: /metrics
      port: metrics
      scheme: HTTP
  teku:
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 60
    failureThreshold: 3
    successThreshold: 1
    httpGet:
      path: /metrics
      port: metrics
      scheme: HTTP
livenessProbe:
  prysm:
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 60
    failureThreshold: 3
    successThreshold: 1
    httpGet:
      path: /healthz
      port: metrics
      scheme: HTTP
  lighthouse:
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 60
    failureThreshold: 3
    successThreshold: 1
    httpGet:
      path: /metrics
      port: metrics
      scheme: HTTP
  teku:
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 60
    failureThreshold: 3
    successThreshold: 1
    httpGet:
      path: /metrics
      port: metrics
      scheme: HTTP
